{% extends 'extends/base.html' %}<!---->
{% block title %}Profiles{% endblock %}<!---->
{% load static %}<!---->

{% block content %}
<h1>Profiles List</h1>

{% for profile in profiles %}<!---->

<div class="card mb-3" style="max-width: auto">
  <div class="row g-0">
    <div class="col-md-2">
      <img
        src="{{ profile.user.image.url }}"
        class="img-fluid rounded-start"
        alt="Profile Image"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
          <a
            class="link-opacity-50-hover link-underline link-underline-opacity-0 link-dark"
            href="{% url 'profile' profile.user_id %}"
            >@{{ profile.user.username|title }}</a
          >
        </h5>
        <p class="card-text">
          <strong>Email: </strong>{{ profile.user.email }}
          <br />
          {% if profile.user.bio %}
          <strong>Bio: </strong>{{ profile.user.bio }}
          <br />
          {% endif %} {% if profile.user.linkedin %}
          <a
            href="{{ profile.user.linkedin }}"
            class="link link-dark link-underline-opacity-0 link-opacity-75-hover"
            ><i class="bi bi-linkedin"></i> <strong>LinkedIn</strong></a
          >
          {% endif %}
        </p>
        <p class="card-text">
          <small class="text-body-secondary"
            >Joined since {{ profile.user.date_joined|timesince }}</small
          >
        </p>
      </div>
    </div>
  </div>
</div>

{% endfor %}<!---->

{% endblock %}
