{% extends 'extends/base.html' %}<!---->
{% load crispy_forms_tags %}<!---->

{% block title %}Home{% endblock %}<!---->

{% block content %}

<div class="row">
  <div class="col-lg-8">
    <h1 class="text-center">Meeps!</h1>
    <br />
    <div id="meep-div">
      {% for meep in meeps %}<!---->
      {% include 'meep_detail.html' %}<!---->
      {% endfor %}
    </div>
  </div>

  <div class="col-lg-4">
    {% if form %}
    <form
      id="form-id"
      hx-post="{% url 'home' %}"
      hx-target="#meep-div"
      hx-swap="afterbegin"
    >
      {{ form|crispy }}
      <button
        formnovalidate
        class="btn btn-primary my-2"
        id="submit-id-submit"
        disabled
      >
        Submit
      </button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
