<div class="alert alert-light p-2 m-2" style="height: auto">
  <div class="row">
    <div class="col-1 text-center pe-0 ps-0">
      <img
        style="width: 50px"
        src="{{ meep.child_meep.author.user.image.url }}"
        class="img-fluid rounded-circle"
        alt="Profile Image"
      />
    </div>
    <div class="col ps-0">
      <a
        class="link-opacity-50-hover link-underline link-underline-opacity-0 link-primary fw-bold"
        href="{% url 'profile' meep.child_meep.author.id %}"
        >@{{ meep.child_meep.author}}</a
      >
      -
      <small class="text-body-secondary"
        >{{ meep.child_meep.date_added|timesince }}
      </small>
      <p class="mb-0">
        <strong>{{ meep.child_meep.meep }} </strong>
      </p>
      {% include 'partials/likes3.html' %}
    </div>
  </div>
</div>
