{% load custom_filters %}<!---->
{% if user.is_authenticated %}<!---->
{{ meep.likes.count }}<!---->
{{ meep.likes.count|pluralize_likes }}<!---->

<!--STAR LINK-->
<a
  hx-get="{% url 'like-unlike' meep.id %}"
  hx-target="#meep-{{ meep.id }}"
  hx-swap="outerHTML"
  class="me-1"
  >{% if user in meep.likes.all %}<i
    class="bi bi-star-fill"
    style="color: orange"
  ></i
  >{% else %}<i class="bi bi-star" style="color: orange"></i>{% endif %}</a
>

<!--BUTTON MODAL-->
<a
  class="link-dark me-1"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal-{{ meep.id }}"
  ><i class="bi bi-share-fill"></i
></a>

{% include 'include/modal.html' %}

<!--DELETE LINK-->
{% if meep.author.user.id == user.id %}
<a class="me-1" href="{% url 'delete-meep' meep.id %}"
  ><i style="color: red" class="bi bi-trash2-fill"></i
></a>
{% endif %}<!---->

{% endif %}
