{% load custom_filters %}
<p class="mb-0">
  {% with count=meep.child_meep.likes.count %}<!---->
  {{ count }}<!---->
  {{ count|pluralize_likes }}<!---->
  {% endwith %}<!---->
  {% if user.is_authenticated %}
  <a
    hx-get="{% url 'like-unlike2' pk=meep.id pk2=profile.user.id %}"
    hx-target="#col"
    hx-swap="outerHTML"
  >
    {% if user in meep.child_meep.likes.all %}
    <i class="bi bi-star-fill"></i>
    {% else %}
    <i class="bi bi-star"></i>
    {% endif %}</a
  >
  -
  <!-- Button trigger modal -->
  <a
    class="link-dark"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal-shared-{{ meep.child_meep.id }}"
    ><i class="bi bi-share-fill"></i>
  </a>
  {% endif %}
</p>

{% include 'include/modal2.html' %}
