{% load custom_filters %}
<p class="mb-0">
  {{ meep.likes.count }}<!---->
  {{ meep.likes.count|pluralize_likes }}<!---->
  {% if user.is_authenticated %}
  <a
    hx-get="{% url 'like-unlike' meep.id %}"
    hx-target="#meep-{{ meep.id }}"
    hx-swap="outerHTML"
  >
    {% if user in meep.likes.all %}
    <i class="bi bi-star-fill"></i>
    {% else %}
    <i class="bi bi-star"></i>
    {% endif %}</a
  >
  -
  <!-- Button trigger modal -->
  <a
    class="link-dark"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal-{{ meep.id }}"
    ><i class="bi bi-share-fill"></i>
  </a>
  {% endif %}
</p>

{% include 'include/modal.html' %}
