<p class="py-3 mb-4 border bg-secondary-subtle rounded">
  <strong>{{ meep.meep }} </strong><br /><br /><small
    class="text-body-secondary"
    >Added {{ meep.date_added|timesince }} By
    <a
      class="link-opacity-50-hover link-underline link-underline-opacity-0 link-primary fw-bold"
      href="{% url 'profile' meep.author.id %}"
      >@{{ meep.author}}</a
    ></small
  >
</p>

{% load crispy_forms_tags %}
<form
  id="form-id"
  hx-post="{% url 'home' %}"
  hx-target="#meep-div"
  hx-swap="afterbegin"
  hx-swap-oob="true"
>
  {{ form|crispy }}
  <button
    disabled
    formnovalidate
    class="btn btn-primary mt-2"
    id="submit-id-submit"
  >
    Submit
  </button>
</form>
